<form {% if layout=="inline" %}class="form-inline"{% elif layout=="horizontal" %}class="form-horizontal"{% endif %} role="form" action="" method="POST">
    {% for field_item in data.field_items.values() %}
        {{ renderer.render_field(field_item, layout=layout) }}
    {% endfor %}
    {% if layout=="horizontal" %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    {% else %}
        <button type="submit" class="btn btn-default">Submit</button>
    {% endif %}
</form>
